<!DOCTYPE html>
<html>
    <head>
      <title>MySQL Management Dashboard</title>
      <%= favicon_link_tag %>
      <%= stylesheet_link_tag "application", media: "all" %>
    </head>
    <body>
      <div class="container-gmajor">
        <div class="main-wrapper services-main-wrapper">
          <div class="row header pvl phxl">
            <div class="teal-text col-lg-18 col-md-18 col-sm-18 col-xs-14">
              Pivotal CF Services
            </div>
            <% if Configuration.documentation_url %>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5 txt-r float-right">
              <%= link_to "Docs", Configuration.documentation_url %>
            </div>
            <% end %>
            <% if Configuration.support_url %>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5 txt-r float-right">
              <%= link_to "Support", Configuration.support_url %>
            </div>
            <% end %>
          </div>

          <div class="services-container">
            <div class="header-container pvm">
              <%= image_tag "icon-PivotalMySQLDev.png" %>
              <span class="phm">
                Pivotal <strong>MySQL Dev</strong>
              </span>
            </div>

            <%= yield %>
          </div>
        </div>
      </div>
    </body>
</html>
